<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    background-color: rgb(238, 238, 79);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    height: 500px;
    width: 900px;
    padding: 40px 10px;
  "
>
  <div
    style="
      font-size: 50px;
      font-family: Segoe Print;
      text-decoration: underline;
    "
  >
    {{ comSvc.eventName }}
  </div>
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 700px;
      height: 600px;
    "
  >
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
      "
    >
      <div style="display: flex; flex-direction: column; align-items: center">
        <button mat-flat-button color="primary" (click)="startTimer()">
          Spin Me!
        </button>
        <p style="color: red">Remaining prizes: 10</p>
      </div>
      <div style="height: 100%; font-size: 50px; color: red">
        {{ this.counter }}
      </div>
    </div>
    <table width="500px">
      <tr>
        <th>S.No</th>
        <th>Employee name</th>
        <th>Employee id</th>
        <th>Prize</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Tarkeshwar Singh</td>
        <td>215489700</td>
        <td>TV</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Tarkeshwar Singh</td>
        <td>215489700</td>
        <td>TV</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Tarkeshwar Singh</td>
        <td>215489700</td>
        <td>TV</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Tarkeshwar Singh</td>
        <td>215489700</td>
        <td>TV</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Tarkeshwar Singh</td>
        <td>215489700</td>
        <td>TV</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Tarkeshwar Singh</td>
        <td>215489700</td>
        <td>TV</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Tarkeshwar Singh</td>
        <td>215489700</td>
        <td>TV</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Tarkeshwar Singh</td>
        <td>215489700</td>
        <td>TV</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Tarkeshwar Singh</td>
        <td>215489700</td>
        <td>TV</td>
      </tr>
    </table>
  </div>
</div>
