<div class="flexHorCenter" style="margin-top: 10px; width: 100%; height: 100%">
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      row-gap: 30px;
      height: 100%;
    "
  >
    <h1 style="font-size: 50px">{{ comSvc.eventName }}</h1>
    <div style="display: flex; flex-direction: column; align-items: center">
      <button mat-flat-button color="primary" (click)="startTimer()">
        Spin Me!
      </button>
      <p style="color: red">Remaining prizes: 10</p>
    </div>
    <div
      style="
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
      "
    >
      <div style="height: 100%; font-size: 50px; color: red">
        {{ this.counter }}
      </div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          width: 40%;
          row-gap: 100px;
          height: 100%;
        "
      >
        <div style="display: flex; flex-direction: column; height: 100%">
          <div style="text-align: right">Employee name</div>
          <div style="text-align: right">Employee id</div>
        </div>
        <div style="display: flex; flex-direction: column; height: 100%">
          <div style="text-align: left">{{ winnerName }}</div>
          <div style="text-align: left">{{ winnerId }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
