<mat-toolbar color="primary" class="flexVerticalCenter">
  <div style="width: 35%">Lucky Draw App</div>
  <div style="display: flex; justify-content: center; width: 29%">
    <div style="display: flex">
      <div class="navButton" routerLink="/prizeDashboard">Prize Dashboard</div>
      <div class="navButton" routerLink="/createEvent">Add event</div>
    </div>
  </div>
</mat-toolbar>
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    background-image: url(../assets/img/background.jpg);
  "
>
  <router-outlet></router-outlet>
</div>
