/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 30%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(../src/assets/img/background.jpg);
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexVerticalCenter {
  display: flex;
  align-items: center;
}
.flexHorCenter {
  display: flex;
  justify-content: center;
}
.navButton {
  text-decoration: none;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
}
.mainCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 87%;
  padding: 10px 10px;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}
.active-link {
  text-decoration: underline;
}
